h1 {
    color: black;
}

h2 {
    color: #4CAF50;
    font-size: 1.8em;
}

h3 {
    text-align: center;
}

p {
    margin: 10px;
    line-height: 1.5;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0; /* Corregido: eliminado el cero inicial no necesario */
    padding: 0; /* Corregido: eliminado el cero inicial no necesario */
    box-sizing: border-box;
    color: #343a40;
    background-color: #f0f0f0;
    transition: background-color 0.5s ease;
}

header {
    background-color: #ffffff;
    color: #ffffff;
    text-align: center;
    padding: 2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

nav {
    background-color: #007bff;
    padding: 1em;
    display: flex;
    justify-content: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1em;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #240066;
}

section {
    padding: 2em;
    margin: 2em 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

section:hover {
    transform: scale(1.02);
}

a {
    color: #740b9e;
    text-decoration: none;
    transition: color 0.3s ease;
    font-weight: bold;
}

a:hover {
    color: #0056b3;
}

ul {
    list-style-type: circle;
    padding: 0; /* Corregido: eliminado el cero inicial no necesario */
}

/* Estilo para los elementos de la lista de actividades */
ul li {
    margin-bottom: 2em;
}

button {
    background-color: #28a745;
    color: #fff;
    padding: 0.5em 1em;
    border: #4f7e53;
    border-radius: 9px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

#historia {
    background-color: #ffeeba;
}

.destacado-flotante {
    float: left;
    margin-right: 10px;
    border: 2px solid #007bff;
    border-radius: 50%;
    overflow: hidden;
    position: relative; /* Agregado: posición relativa */
}

.destacado-flotante img {
    width: 100%;
    height: auto;
    float: right;
    width: 100%;
    position: absolute; /* Agregado: posición absoluta */
    top: 0;
    left: 0;
}

img {
    float: right;
    opacity: 0.9;
    width: 100%;
}

#banner {
    width: 100%;
    height: 340px;
    object-fit: cover;
    transition: height 0.1s ease;
    position: sticky; /* Agregado: posición sticky */
    top: 0; /* Agregado: top 0 */
    z-index: 1; /* Agregado: z-index */
}


